<!DOCTYPE html>
<html>
  <head>
    <title>Supper App</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <a href="/">
            <img src="./image/IMAGE (5).png" alt="">
          </a>
          <ul class="nav_list">

            <li class="nav_item">
              <a href="/" class="nav_links">Home</a>
            </li>

            <li class="nav_item">
              <a href="/post" class="nav_links">Posts</a>
            </li>
            
            <li class="nav_item">
              <a href="#" class="nav_links">Blog</a>
            </li>

            <li class="nav_item">
              <a href="#" class="nav_links">About</a>
            </li>

            <li class="nav_item">
              <a href="#" class="nav_links">Contact</a>
            </li>
            
          </ul>

          <a href="/register" class="nav_link">Register</a>
          <a href="/login" class="nav_link">Sign up</a>

        </div>
      </nav>
      
  </body>
</html>

