*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
  display: inline-block;
  color: #000;
}

img{
  width: 100%;
}

body{
  font-family: monospace;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

header{
  padding: 10px 0px;
}

nav{
  margin-bottom: 100px;
}

nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list{
  display: flex;
}

.nav_item{
  margin: 0 24px;
  border: 1px solid #030b41;
  padding: 7px 15px;
  border-radius: 30px;
  transition: .3s;
}

.nav_item:hover{
  background: #3F53D8;
}

.nav_links{
  transition: .3s;
  font-size: 16px;
}

.nav_links:hover{
  color: #fff;
}

.nav_link{
  font-size: 16px;
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid #0808295d;
  color: #000;
  transition: .3s;
}

.nav_link:hover{
  background: #D9DEFF;
  color: #080829;
}

.main_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_text{
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: monospace;
  color: #3F53D8;
}

.main_title{
  width: 50%;
}

.main_image{
  width: 40%;
}

.main_title h1{
  font-size: 50px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 20px;
}

.main_title p{
  font-size: 17px;
  width: 90%;
  line-height: 25px;
  margin-bottom: 20px;
}

.main_title button{
  padding: 7px 15px;
  background: #3F53D8;
  border-radius: 14px;
  color: #fff;
  cursor: pointer;
  border: none;
  letter-spacing: 1px;
}

.user_text{
  text-align: center;
  letter-spacing: 1px;
  color: #000;
  margin-bottom: 20px;
}

.users_form{
  text-align: center;
  border:double 4.9px #000;
  width: 600px;
  margin: 0 auto; 
  padding: 15px;
  margin-bottom: 100px;
}

.users_input{
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.users_input_file{
  cursor: pointer;
  width: 100%;
  padding: 10px 10px;
  background: #D9DEFF;
  color: #080829;
  margin-bottom: 20px;
}

.users_input_file:hover{
  background: #566bf5;
  color: #fff;
}

.users_submit{
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #080829;
  color: #000;
  background: transparent;
  letter-spacing: 2px;
  cursor: pointer;
  transition: .3s;
}

.users_submit:hover{
  background: #566bf5;
  color: #fff;
}

.users-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.users-item{
  width: 45%;
  margin: 20px 20px;
  border: double 4.9px #000;
  padding: 10px;
}

.users-name{
  font-size: 22px;
  margin-bottom: 10px;
}

.user_image{
  margin-bottom: 10px;
}

.del-btn, .edit-btn{
  font-size: 15px;
  margin: 0 20px;
  padding: 7px 15px;
  border-radius: 5px;
  transition: .3s;
}

.del-btn{
  border: 2.3px solid #ff0000;
}

.edit-btn{
  border: 2.3px solid #008000;
}

.del-btn:hover{
  background: #ff0000;
  color: #fff;
}

.edit-btn:hover{
  background: #008000;
  color: #fff;
}

.header_image{
  display: none;
}

#menu-bar{
  display: none;
}

header label{
  font-size: 20px;
  color: #080829;
  cursor: pointer;
  display: none;
}

@media  (max-width:900px) {

  .container{
    max-width: 850px;
    margin: 0 auto;
  }

  body{
    background: green;
  }
}

@media  (max-width:800px) {

  .container{
    max-width: 750px;
    margin: 0 auto;
  }

  body{
    background: #000;
  }

  /* header  label{
    display: initial;
  }

  nav .container{
    display: flex;
    flex-direction: column
  } */
}